form > div{
    display: flex;
    justify-content: space-around;
    gap: 15px;
}
form div button {
    width: 300px;
}
form select { 
    width: 100%;
}
form > div > div{
 width: 50%;
}
input { 
    width: 100%;
}
#tieneLicencia, #tieneHjos {
    width:  1px;
}
.cancel-btn{
    padding: 8px;
    background: rgba(216, 0, 79, 0.7);
    color: rgb(189, 188, 188);
    border: 1px solid rgb(189, 188, 188);
}
.cancel-btn:hover{
    background: rgba(196, 87, 127, 0.7);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}
.cancel-box{
    height: fit-content;
}